@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-Medium.woff");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-Bold.woff");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-DemiBold.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	 outline: none;
}



a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}







body{
    font-family: 'TTLakes', sans-serif;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    font-weight: normal;
    
}
header{
    background-color: #FFFFFF;
    
}
main{
    background-color: #F8F8F8;
   
}
section{
    margin: 0 16px;
}
nav{
    margin: 0 16px;
    padding: 24px 0;
}


h1{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
}
.tablet{
    display: none;
}




/*
 
*/
.stripe-1{
    height: 2px;
    width: 18px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 1px;
}
.stripe-2{
    width: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 1px;
}
.stripe-3{
    width: 14px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 1px;
}




.navinavigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navinavigation__icon img{
    margin-top: 10px;
    margin-left: 10px;
}
 .navinavigation__icon:last-of-type img{
    margin-left: 12px;
 } 

.navinavigation__icon
{
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
}
.navinavigation__decorativ{
    border-left: 2px solid #EAEAEA;
    height: 32px;
}








.contaner__title{
    display: flex;
    align-items: center;
    height: 96px;
}



.contaner__title::before{
    content: '';
    margin-left: -16px;
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0px 10px 10px 0px;
}

.title__navinavigation:nth-of-type(1){
    margin-left: auto;
}
.icon__pc {
    margin-left: 8px;
    display: none;
    
} 
.icon__pc a{
    color: #1B1C21;
}



.contaner__scroll{
    display: flex;
    white-space: nowrap;
    align-items: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 16px;
}
.contaner__scroll::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.bottom-active{
    background-color: #FFFFFF;
    border-radius: 6px;
    
}
.scroll__bottom,
.scroll__bottom a{
    color: #7E7E82;
    padding: 8px; 
}

.scroll__bottom {
    border: 2px solid transparent;
}

.scroll__bottom:hover{
    border-color: #b8f5b8EC;
    border-radius: 6px;
}




.contaner_info{
    display: flex;
    flex-direction: column;
    
}
.main__text{
    font-size: 14px;
    color: #1B1C21;
    font-weight: normal;
    margin-top: 30px;
}
.text__pc{
    display: none;
}

.main__nextbottom{
    margin-top: 14px;
}
.main__nextbottom a{
    margin-left: 10px; 
    font-size: 16px;
    font-weight: 400;
    color: #1B1C21;
}
.main__nextbottom::before{
 content: url("imgs/icon-2.svg");
 
}
.info__image{
    padding: 27px 0; 
}
.info__image img{
    width: 100%;
    max-width: 360px;
}


@media (min-width: 768px){
    .title__decorativ{
        margin-left: -24px;
    }
    section{
        margin: 0 24px;
    }
    nav{
        margin: 0 24px;
    }
    .tablet{
        display: initial;
    }
    .contacts{
        margin-left: auto;
    }
    .navinavigation__decorativ{
        margin-left: 5px;
    }
    .info__image img{
        border-radius: 6px;
    }
    .navinavigation__icon{
        margin-right: 16px;
    }
    .navinavigation__decorativ{
        margin-right: 16px;
    }
    .contaner_info{
        display: flex;
        flex-direction: row;
    }
    .info__main{
        flex-basis: 50%;
    }
    .info__image{
        padding: 27px 0;
        flex-basis: 50%;
    }
    .info__image img{
        width: 100%;
        max-width: 1200px;
    }
    .contaner__title::before{
        margin-left: -24px;
    }
    
}

@media (min-width: 1120px){
    section{
        margin: 0 32px;
    }
    header{
        display: none;
    }
   .icon__pc{
        display: initial;
    }
    main{
        background: #F8F8F8;
    }    
    .text__pc{
        display: initial;
        }
    .contaner__scroll{
        flex-wrap: wrap;
        margin-top: 8px;
    } 
    section{
        max-width: 1120px;
        margin-right: auto;
    }   
    .contaner__title::before{
        margin-left: -33px;
    }
    .contaner__title{
        padding-top: 50px;
    }
    .contaner_info{
        gap: 16px;
    }
    
}