
@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-Bold.woff");
    font-weight: bold;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-DemiBold.woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "TTlakes";
    src: url("fonts/TTLakes-Regular.woff");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	 outline: none;
}



a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}







body{
    font-family: 'TTLakes', sans-serif;
    font-weight: normal;
}

.pageServices{
    min-width: 320px;
}

.pageServices__mainInfo{
    padding: 0 16px;
    background-color: #F8F8F8;
}
.nav__listbuttom{
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

.title__text{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    display: flex;
    justify-content: flex-start;
}

.nav__Icon,
.tablet 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__Icon 
{
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
}
.nav__listbuttom li:nth-child(n+3):nth-child(-n+5){
   display: none;
}
.nav__listbuttom li:nth-child(6)::after{
    content: '';
    position: absolute;
    border-left: 2px solid #EAEAEA;
    height: 32px;
    margin-right: 65px;
}
.tablet{
    display: none;
}


.title{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 24px 0;
}
.title a{
    display: flex;
    align-items: center;
    column-gap: 9px;
    color: #1B1C21;
    display: none;
}

.title::before{
    content: '';
    margin-left: -16px;
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0px 10px 10px 0px;
}

.services{
    margin-top: 16px;
}
.nav__listsections{
    display: flex;
    white-space: nowrap;
    align-items: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 16px;
    column-gap: 5px;
}

.nav__listsections::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.nav__sections,
.nav__sections a{
    color: #7E7E82;
    padding: 8px; 
}

.nav__sections {
    border: 2px solid transparent;
}

.nav__sections:hover{
    border: solid 2px #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
}




.info{
    display: flex;
    flex-direction: column;
    
}
.info__main {
    font-size: 14px;
    color: #1B1C21;
    font-weight: normal;
}
.main__text{
    overflow: hidden;
    height: 93px;
    margin-top: 24px;
}
.text__pc{
    display: none;
}

.main__nextbottom{
    margin-top: 14px;
    cursor: pointer;
    display: block;
}
.main__nextbottom a{
    margin-left: 10px; 
    font-size: 16px;
    color: #1B1C21;
}
.main__nextbottom span{
    font-weight: 600;
}

.main__nextbottom::before{
    content: url("imgs/icon-2.svg");
 
}
.info__image{
    padding: 27px 0; 
    
}
.info__image img{
    position: fixed;
    left: 0;
    width: 100%;
}



@media (min-width: 768px){
    .nav__listbuttom li:nth-child(1)::after{
        content: '';
        position: absolute;
        border-left: 2px solid #EAEAEA;
        height: 32px;
        margin-left: 65px;
    }

    .nav__listbuttom li:nth-child(n+3):nth-child(-n+5){
        display: flex;
     }
    .contacts{
        margin-left: 40%;
    }
    .info{
        display: flex;
        flex-direction: row;
    }
    .info__main{
        flex-basis: 50%;
    }
    .info__image{
        flex-basis: 50%;
    }
    .info__image img{
        position: static;
        border-radius: 6px;
        width: 100%;
        max-width: 1200px;
    }
    .main__text{
        height: 160px;
    }
    
}

@media (min-width: 1120px){
    
   .nav{
        display: none;
    }

   .title a{
        display: flex;
    }   
    .services__scroll{
        flex-wrap: wrap;
    } 
    .pageServices__mainInfo{
        max-width: 1070px;
        margin-right: auto;
        margin-left: auto;
    }   
    .contaner__title{
        padding-top: 50px;
    }   
}






/*
Блок брендов
*/

.listBrands{
    background-color: #F2F2F2;
}
ul .PC{
    display: none;
}

.listBrands__listMenu{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    column-gap: 24px;
    row-gap: 16px;
    }
.listBrands__listItem{
    box-sizing: border-box;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    min-width: 224px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.listBrands__Buttom{
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    justify-self: flex-end;
}

@media (min-width: 768px){
    .listBrands__listMenu{
    flex-wrap: wrap;
    }
}
@media (min-width: 1015px){
    
ul .PC{
        display: flex;
    }
}